Repository db1group/mestre-dos-codigos, pull requests merged in 2019-11, with the labels that each got.

#25 Prova Cavaleiro SQL
  docs/sql.md
Labels: sql

#24 Cavaleiro Segurança da Informação
  docs/img/cavaleiro_seguranca_informacao.png
  docs/seguranca-informacao.md
Labels: seguranca-da-informacao

#26 Questões de Arquitetura de Software
  docs/README.md
  docs/arquitetura.md
Labels: arquitetura-de-software

#27 Adiciona prova dotnet escudeiro
  docs/README.md
  docs/_sidebar.md
  docs/dotnet.md
Labels: .NET
